<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /LMB-estadisticas/
</IfModule>

# Enable CORS and MIME types
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
